/* 
1- Posicionamiento --> static, absolute, relative, fixed
2- Modelo de caja (Box model) --> margin, border, padding, content
3- Tipografía --> tipos, tamaños de fuente, etc
4- Estilos visuales --> box-shadow, border-radius, gradient, etc
5- Otros --> reglas CSS y más */

:root {
    --bitcoin-orange:#F7931A;
	--soft-orange:#FFE9D5;
    --secondary-blue:#FFE9D5; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ---------------------------------HEADER-------------------------------- */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(232deg, #201e1c, #f7931a);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;

}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

    padding-bottom: 20px;
}

.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);

    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

/* ---------------------------------IMG Y TEXTO--------------------------------- */
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.first-section{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

/* .first-section .image-container{

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;

    background-image: url("./assets/img/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 */
.first-section .title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;

    margin: 0 auto;
}

.first-section .title-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.first-section .title-container p{
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/* ----------------------SECTION FIRST TABLE -----------------------*/
.first-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;

    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.section-tables-container .first-table .title{
    margin-bottom: 15px;
    text-align: left;
    color: var(--bitcoin-orange);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;

}

.tables-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.tables-container table{
    width: 100%;
    height: 100%;

}

.tables-container td{
    width: 50%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5rem;
    

    color: var(--gray);
    background-color: var(--just-white);

}
/* --------------------------------- */
 .tables-container .table__top-left{
    border-radius: 15px 0 0 0;
 }

 .tables-container .table__top-right{
    border-radius: 0 15px 0 0;
 }

 .tables-container .table__bottom-left{
    border-radius: 0 0 0 15px;
 }

 .tables-container .table__bottom-right{
    border-radius: 0 0 15px 0;
 }

.tables-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

/* ----------------AGREGO SUBIDA Y BAJADA-------------- */

.tables-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;

    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tables-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* ---------------------------------------------------------- */

/* PARRAFO DE ACTUALIZACION */
.first-table .date{
    background-color: var(--soft-orange);
    width: 173px;
    height: 31px;
    padding: 8px;

    display: inline-block;
    align-items: center;
    border-radius: 8px;
    
}

.first-table .date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    
    
}

/* -------------------------SECTION SECOND TABLE--------------------------------- */



