.second-section{
    width: auto;
    height: 850px;
    background-color: var(--warm-black);
}

.second-section .algo{
    background-image: url("./assets/icons/batata.svg");
    width: 40px;
    height: 24px;

    position: relative;
    display: inline-block;
    top: -10px;
    left: 45%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    
}

.second-section .titulo{
    width: 90%;
    margin: 0 auto ;
    margin-bottom: 30px;
}

.second-section .titulo h2{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    
}

.second-section .titulo p{
    
    color: #808080;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    
}

/* -------------------------------------------- */
.cards-container{
    width: 288px;
    height: 152px;
    margin: 0 auto;

}

.cards-container .card{
    padding: 10px 10px 10px 10px;
    background-color: var(--warm-blackplus1);
    margin-bottom: 15px;
    border-radius: 4px;
}
/* ------------------------------------------ */
.cards-container .card .logo{
    width: 24px;
    height: 24px;
    display: inline-block;

}

.cards-container .card .clock{
    background-image: url("./assets/icons/clock.svg");
}

.cards-container .card .view{
    background-image: url("./assets/icons/eye.svg");
}

.cards-container .card .dolar{
    background-image: url("./assets/icons/dollar-sign.svg");
}

.cards-container .card .check{
    background-image: url("./assets/icons/check-circle.svg");
}

/* --------------------------------------------------- */
.cards-container .card .card-title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: left;
    color: var(--just-white);

    padding: 15px 0px;
}

.cards-container .card .card-body{
    color: #808080;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
}



